.nav {
  writing-mode: vertical-rl;
  display: inline-flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 5rem;
  position: relative;
  height: calc(100vh - 2rem);
  align-items: center;
  position: absolute;
  

  a {
    transition: all 400ms ease-out;
    font-size: 1.6rem;
    color: #f9f9f9;
  }
  a:hover {
    transform: scale(1.5);
  }
}

.activeLink {
  color:#E94957!important;
  font-weight: bold;
  transform: scale(1.6);
}